.container  {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 350px;
    margin: auto;
    background-color: rgb(255, 174, 0);
    padding: 20px;
    border-radius: 18px;
}

input{
    display: block;
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    margin-bottom: 14px;
}

